.pizza-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.pizza-list.center-last > :last-child:nth-child(odd):nth-last-child(1) {
  grid-column: 2 / 3;
}