.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    padding: 5px 40px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo {
    width: 100px;
    height: auto;
    top: 23px;
    left: 20px;

  }
  
  .header__nav {
    display: flex;
    gap: 90px;
  }
  
  .header__nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
  }
  
  .header__right {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .header__phone a {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-right: 75px;
  }
  
  
  .phone-icon,
  .cart-icon {
    font-size: 20px;
  }